*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}


.titolo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



div{
    height: 500px;
    width: 100vw;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    display: flex ;
    flex-wrap: wrap;
    min-height: 100px;
    width: calc(100% / 6);
    margin: 20px;
    background-color: lightcyan;
}

li{
    width: 100%;
    border: 1px solid black;
    list-style: none;

}